@using Microsoft.AspNetCore.Identity;
@inject SignInManager<BozheHvatitDushitSharp.Models.ApplicationUser> signInManager;
@{Layout = null;

}

<!DOCTYPE html>
<html>
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" rel="stylesheet" type="text/css" />
    <title>
        Index
    </title>
</head>
<body>
    <header class="blog-header py-3" style="border-bottom:1px solid #e5e5e5;">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                <a class="text-muted" href="/Cart/">Cart</a>
            </div>
            <div>
                <a class="text-muted" href="/Map/">Map</a>
            </div>
            <div class="col-4 text-center">
                <a class="blog-header-logo text-dark" style=" font-size: 2.25rem; font-family: 'Times New Roman', Times, serif" href="#">MusicMarket</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <a class="text-muted" href="#" aria-label="Search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"></circle><path d="M21 21l-5.2-5.2"></path></svg>
                </a>
                <div class="navbar-nav ml-auto">
                    @if (signInManager.IsSignedIn(User))
                    {
                        <div class="nav-item">
                            <form method="post" asp-action="Logout" asp-controller="account">
                                <button type="submit" class="btn btn-sm btn-outline-secondary"
                                        style="width:auto">
                                    Logout @User.Identity.Name
                                </button>

                            </form>
                        </div>
                    }
                    else
                    {
                <div>
                    <p asp-action="register" asp-controller="account" class="btn btn-sm btn-outline-secondary">Sign Up</p>

                     <p asp-action="login" asp-controller="account" class="btn btn-sm btn-outline-secondary">Login</p>
                </div> 
                        
                    }
                </div>
            </div>
        </div>
    </header>
    <br />
    <div class="nav-scroller py-0 mb-2">
        <nav class="nav d-flex justify-content-between">
            <a class="p-2 text-muted" href="/Category/List/Drums">Drums</a>
            <a class="p-2 text-muted" href="/Category/List/Strings">Strings</a>
            <a class="p-2 text-muted" href="/Category/List/Wind">Wind</a>
            <a class="p-2 text-muted" href="/Category/List/Glockenspiel">Glockenspiel</a>
            <a class="p-2 text-muted" href="/Category/List/Keyboards">Keyboards</a>
        </nav>
    </div>
    <div class="row mt-5 mb-2">
        @{
            foreach (Item item in ViewBag.Items)
            {
                @Html.Partial("allItems", item)
            }
        }
    </div>
</body>
</html>